@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

span{
    margin-right: 20px;
}

/*
header{
    height: 65px;
    background-color: rgb(32, 97, 210);
}

.header--page--title{
    font-weight: lighter;
    padding-top: 12px;
    margin-left: 11%;
    color: white;
}

nav{
    position: relative;
    top: 8%;
    left: 0;
    display: inline-block;
    border-right: 2px solid black;
    height: 725px;
}

li{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-bottom: 2px solid black;
    font-size: 18px;
}

.active{
    font-weight: bolder;
}

.main-container{
    display: inline-block;
    position: absolute;
    
    margin-left: 20px;
}

*/

